
/*Bryce Fish
  Nov 17th, 2022 */
@font-face {
	font-family: 'chunk-five';
	src:url('../fonts/chunk_five_print-webfont.woff') format('woff'),
		url('../fonts/chunk_five_print-webfont.woff2') format('woff2');
}	 
@font-face {
	font-family: 'pacifico';
	src:url('../fonts/pacifico-regular-webfont.woff'),
		url('../fonts/pacifico-regular-webfont.woff2');
}

#outerwrapper {		
	background: rgba(243,205,170, 0.4);
	border-radius: 15%;
	margin-left: 15%;
	margin-right: 15%;
}

html {
	background-image: url(../images/jewelry.jpg);
	background-repeat: no-repeat;
	background-size: cover; 
 }

footer{
	font-size: 1em;
	text-align: center;
	padding-bottom: 10px;
}
main{
	background: linear-gradient(#FFFFFF, #F0F9E6);
	padding: 10px;
	margin: 20px;
	border-radius: 2em;
	font-size: 1.25em;
	font-family: 'Trebuchet MS', Georgia, sans-serif;
}
img{
	float: left;
	border-radius: 50%;
	margin-right: 10%;

}
.addmarginright{
	margin-right: 10%;
}
nav>ul{
	list-style-type: none;
	font-size: 1.5em;
	clear:left
}
h1{
	font-family:'pacifico', sans-serif;
	font-size: 4em;
}

h2{
	font-family: 'chunk-five', 'Yimes New Roman', Arial;
	font-style: italic;
	font-size: 2em;
}